html, body {
    margin:0; padding:0; height:100%;
}

body {
  background-color: #1f2a2c;
  background-image: url('/img/background.png');
  background-repeat: repeat;
  color: fff;
}

.floater {
  float:left;
  height:50%;
  margin-bottom:-200px;
  width:1px; /* only for IE7 */
}

.middle {
  clear:both; height:400px;
  position:relative;
}

.banner {
  background-image: url('/img/banner.png');
  width: 594px;
  height: 91px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
}

.leaderboard {
  border: 5px #d0cfcf solid;
  border-radius: 10px;
  background-color: rgba(29, 29, 29, 0.9);
  width: 450px;
  max-width: 90%;
  margin: auto;
}

.leaderboard-row {
  height: 28px;
  padding: 12px 26px;
}

.leaderboard-row:not(:first-child) {
  border-top: 1px rgba(255,255,255,0.15) solid;
}

.leaderboard-row .name {
  display: inline-block;
  float: left;

  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.leaderboard-row .mentions {
  display: inline-block;
  float: right;
  color: #9e0b0f;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.leaderboard-row .mentions-suffix {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.loading {
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  height: 28px;
  padding: 12px 26px;
  text-align: center;
}

.reload {
  display: none;
  border: 5px #d0cfcf solid;
  border-radius: 10px;
  width: 80px;
  margin: 20px auto;
  padding: 8px;
  background-color: rgba(29, 29, 29, 0.9);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.reload:hover {
  background-color: rgba(29, 29, 29, 1.0);
}